:root {
    --bordercolor: rgb(218, 218, 218);
    --backgroundFill: rgb(239, 241, 250);
    --colorBlock: #70abc7;
    --offWhite: rgb(248, 248, 248);
}

html {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0px;
}

.mainProfileBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgb(248, 248, 248); */
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

/* profile header and navbar*/

.profileHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: baseline;
    width: 1575px;
    height: 40px;
    margin-bottom: 6vh;
    align-items: center;
    z-index: 1;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LifeLine {
    margin: 0px;
    margin-left: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
}

.go2Profile, .go2Friends, .go2TimeLine, .logout {
    background-color: var(--colorBlock);
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Work Sans', sans-serif;
}

.go2Profile:hover, .go2Friends:hover, .go2TimeLine:hover, .logout:hover {
    cursor: pointer;
}

.profileOptions {
    height: 30px;
    width: 30px; 
    border: 1px solid var(--bordercolor);
    border-radius: 5px;
    background-color: white;
} 

.profileOptions:hover, .searchButton:hover {
    cursor: pointer;
}

.navBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: var(--colorBlock);
}

/* lower profile */

.profileblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    padding: 5vh 5vw;
    background-color: white;
    overflow: hidden;
}

/* left side bar */

.profilePicBox {
    margin: 0px 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
}

.profileBox {
    display: flex;
    flex-direction: column;
    min-width: 315px;
    max-width: 315px;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 15px;

}

/* profile picture */

.profilePic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 100%; 
    overflow: hidden;
    margin: 10px;
    margin-top: 0px;
    background-color: var(--offWhite);
    box-shadow: 4px 4px 10px var(--bordercolor);
    border: 1px solid var(--bordercolor);
}

.editIcon, .editIcon2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -60px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--bordercolor);
    background-color: white;
    z-index: 2;
}

.editIcon2 {
    top: -225px;
}

.editIcon:hover, .editIcon2 {
    cursor: pointer;
}

.profileImg {
    max-width: 250px;
    max-height: 250px;
    border-radius: 15px;  
    margin: 30px 0px 30px 0px;  
}

.contactName {
    color: white;
    z-index: 1;
    font-size: 20px;
    margin: 0px;
}

.colorBlock1, .colorBlock4, .colorBlock5 {
    position: absolute;
    background-color: var(--colorBlock);
    margin-top: 310px;
    height: 40px;
    width: 302px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 4px 4px 10px var(--bordercolor);
}

/* bio text box */

.bioColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    min-width: 300px;
    max-width: 300px;
    height: 220px;
    border-radius: 15px 15px 0px 0px;    
    margin-top: 40px;
    background-color: var(--offWhite);
    box-shadow: 4px 4px 10px var(--bordercolor);
    padding: 10px 0px;
    margin-bottom: 50px;
    border: 1px solid var(--bordercolor);
}

.editAccount {
    align-self: flex-end;
    margin-right: 20px;
    cursor: pointer;
    color: black;
}

.bioWhite {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    margin-left: 10px;
    height: 220px;
    padding-top: 10px;
    margin-top: -20px;
    border-radius: 10px 10px 0px 0px;
}

.about {
    align-self: baseline;
    padding-left: 22px;
}

.contactHead {
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.contactHead, .contactDate, .contactLoc, .contactNow {
    margin: 5px;
    margin-left: 30px;
}

.contactBio {
    position: absolute;
    color: white;
    z-index: 1;
    font-size: 20px;
    margin: 0px;
    margin-top: 260px;
    margin-left: 95px;
}

.colorBlock4 {
    margin-top: 260px;
}

/* suggested users */

.suggestBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 0px;
    min-width: 300px;
    max-width: 300px;
    height: 290px;
    justify-content:space-evenly;
    background-color: var(--offWhite);
    border-radius: 15px 15px 0px 0px;
    padding-top: 30px;   
    border: 1px solid var(--bordercolor);
}

.mayKnow {
    position: absolute;
    color: white;
    z-index: 1;
    font-size: 20px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 55px;
}

.colorBlock5 {
    margin-top: 985px;
}

.colorBlock5:hover {
    cursor: pointer;
}

.suggestFriend1, .suggestFriend2, .suggestFriend3, .suggestFriend4 {
    height: 115px;
    width: 115px;
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 85%;
}

.suggestFriend1:hover, .suggestFriend2:hover, .suggestFriend3:hover, .suggestFriend4:hover {
    cursor: pointer;
    opacity: 100%;
}

/* right feed bar */

.bioBox {
    height: 100%;
    width: 77%;
    margin-left: 2%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.notifSearchBox {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    padding: 0px;
    line-height: 1.6;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 40px;
    min-width: 1010px;
    max-width: 1300px;
    margin-left: 20px;
}

.notifEvent {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px var(--bordercolor);
    background-color: var(--offWhite);
    border: 1px solid var(--bordercolor);
    cursor: pointer;
}

.notifys {
    margin: 0px;
    margin-right: 10px;
    font-size: 18px;
}

.notifRow {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

.searchButton {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid var(--bordercolor);
    background-color: white;
}

.searchBar {
    height: 20px;
    width: 380px;
    border-radius: 15px;
    background-color: var(--backgroundFill);
    border: 1px solid var(--bordercolor);
    padding: 5px 20px;
}

/* notification popup modal  */

.commentModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--bordercolor);
    width: 500px;
    max-height: 370px;
    border-radius: 15px;
    z-index: 2;
    background-color: var(--offWhite);
    margin-top: 65px;
    margin-left: 20px;
    overflow: auto;
}

.profileCommentNotif, .profileLikeNotif, .profileFriendNotif {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--bordercolor);
    background-color: white;
    height: 70px;
    width: 95%;
    padding: 10px;
    cursor: pointer;
}

.friendSmall2 {
    border-radius: 10px;
}

.commentNotifUser {
    margin: 10px;
}

.currentTime {
    margin: 10px;
    font-size: 14px;
}

.centeredIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
}

.commentBtn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px; 
}

/* Recent Box */

.recentBox, .friendBox {
    border-radius: 10px;
    line-height: 1.6;
    margin: 0px;
    margin-left: 20px;
    box-shadow: 4px 4px 10px var(--bordercolor);
    margin-bottom: 60px;
    min-width: 1010px;
    max-width: 1300px;
    background-color: var(--offWhite);
    border: 1px solid var(--bordercolor);
}

.recentBox {
    padding: 20px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.colorBlock2 {
    position: absolute;
    height: 50px;
    margin-top: 460px;
    width: 1212px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--colorBlock);
    z-index: 1;
    box-shadow: 4px 4px 10px var(--bordercolor);
}

.recentText {
    position: absolute;
    margin-top: 470px;
    margin-left: -1030px;
    font-size: 20px;
    color: white;
    z-index: 1;
}

.textBar {
    margin: 0px;
}

.recentCard {
    height: 430px;
    width: 500px;
    margin: 0px;
    margin-left: 10px;
    padding: 20px 20px 20px 20px;
    z-index: 1;
    background-color: white;
    border-radius: 3px;
    border: 1px solid var(--bordercolor);
}

.recentMedia {
    margin-bottom: 0px;
}

.recentCaption {
    padding: 5px;
    height: 45px;
    overflow-y: auto;
    border-radius: 5px;
    background-color: white;
}

.recentComReac{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 0px 0px 0px;
    cursor: pointer;
}

.comments, .likes {
    padding-right: 10px;
}

.comments2, .likes2 {
    margin: 0px;
    margin-right: 10px;
    margin-left: 20px;
}

.likes {
    margin-left: 20px;
}

.comments:hover {
    cursor: pointer;
}

.recentManyDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    min-width: 450px;
    max-width: 650px;
    height: 445px;
    margin: -5px 0px 10px 30px;
    padding: 00px 0px 10px 0px;
}

.recentMany1, .recentMany2, .recentMany3, .recentMany4 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 44%;
    height: 195px;
    padding: 5px 5px 10px 5px;
    margin: 1.5% 1.5%;
    background-color: white;
    border: 1px solid var(--bordercolor);
    border-radius: 3px;
}

.recentMediaSmall {
    width: 100%;
}

.recentCard:hover, .recentMediaSmall:hover, .viewMore, .friendCard {
    cursor: pointer;
}

/* Friend Box */

.friendBox {
    height: 210px;
    display: flex;
    flex-direction: column;
    padding: 0px 30px 30px 30px;
}

.friendHeader {
    margin: 0px;
}

.friendRow, .friendHeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
}

.friendHeaderRow {
    z-index: 1;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

.viewMore {
    margin: 0px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: var(--colorBlock);
    border: none;
    font-family: 'Work Sans', sans-serif;
}

.friendCard {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 20px;
    background-color: black;
    border-radius: 10px;
}

.friendSmall {
    border-radius: 10px;
    opacity: 70%;
}

.friendName, .friendLocation {
    position: absolute;
    color: white;
    width: 115px;
    height: 25px;
    overflow: hidden;
    text-align: end;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 18px;
    margin-right: 5px;
}

.friendName {
    margin-bottom: 30px;
}

.friendSmall:hover {
    opacity: 90%;
}

.colorBlock3 {
    position: absolute;
    height: 50px;
    margin-top: 195px;
    margin-left: -31px;
    width: 1212px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--colorBlock);
    z-index: 1;
    box-shadow: 4px 4px 10px var(--bordercolor);
}

/* modal box for gallery slider */

.modalBox1 {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    position: absolute;
    top: 0px;
    margin-top: 5vh;
    padding-top: 5vh;
    width: 800px;
    height: 85%;
    border: 1px solid var(--bordercolor);
    border-radius: 15px;
    z-index: 3;
    background-color: var(--offWhite);
    overflow: auto;
}

.sliderMedia {
    margin-bottom: 30px;
    z-index: 3;
}

.sliderText {
    border: 1px solid var(--bordercolor);
    width: 665px;
    height: 50px;
    overflow-y: auto;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    z-index: 3;
}

.blackOut {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 1300px;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 3;
}

.hidden {
    display: none;
}








