:root {
    --bordercolor: rgb(218, 218, 218);
    --backgroundFill: rgb(239, 241, 250);
    --colorBlock: #70abc7;
    --offWhite: rgb(248, 248, 248);
}

html {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0px;
}

svg:hover {
    color: #09a12a;
}

.mainProfileBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.profileOptions {
    height: 30px;
    width: 30px;
    border: 1px solid var(--bordercolor);
    border-radius: 5px;
    background-color: white;
}

.profileOptions:hover,
.searchButton:hover {
    cursor: pointer;
}



/* lower profile */

.profileblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: white;
    overflow: hidden;
}

/* left side bar */

.profilePicBox {
    margin: 0px 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin-bottom: 30px;
}

.profileBox {
    display: flex;
    flex-direction: column;
    min-width: 315px;
    max-width: 315px;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 15px;
}


/* profile picture */

.profilePic {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 302px;
    height: 290px;
    overflow: hidden;
    border-radius: 15px;
    margin: 10px;
    margin-top: 0px;
    background-color: var(--offWhite);
    box-shadow: 4px 4px 10px var(--bordercolor);
    border: 1px solid var(--bordercolor);
}

.editIcon,
.editIcon2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -60px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--bordercolor);
    background-color: white;
    z-index: 2;
}

.editIcon2 {
    top: -225px;
}

.editIcon:hover,
.editIcon2 {
    cursor: pointer;
}

.profileImg {
    max-width: 450px;
    max-height: 290px;
}

.contactName {
    position: absolute;
    color: white;
    z-index: 1;
    font-size: 20px;
    margin: 0px;
    margin-top: 255px;
}

.colorBlock1,
.colorBlock4,
.colorBlock5 {
    position: absolute;
    background-color: var(--colorBlock);
    margin-top: 310px;
    height: 40px;
    width: 302px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 4px 4px 7px var(--bordercolor);
}

.colorBlock1 {
    margin-top: 250px;
}

/* bio text box */

.bioColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    min-width: 300px;
    max-width: 300px;
    height: 220px;
    border-radius: 15px 15px 0px 0px;
    margin-top: 40px;
    background-color: var(--offWhite);
    box-shadow: 4px 4px 10px var(--bordercolor);
    padding: 10px 0px;
    margin-bottom: 50px;
    border: 1px solid var(--bordercolor);
}

.editAccount {
    align-self: flex-end;
    margin-right: 20px;
    cursor: pointer;
    color: black;
}

.bioWhite {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    margin-left: 10px;
    height: 220px;
    padding-top: 10px;
    margin-top: -40px;
    border-radius: 10px 10px 0px 0px;
}

.about {
    align-self: baseline;
    padding-left: 22px;
}

.contactHead {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
}

.contactHead,
.contactDate,
.contactLoc,
.contactNow {
    margin: 5px;
    margin-left: 30px;
}

.contactBio {
    position: absolute;
    color: white;
    z-index: 1;
    font-size: 20px;
    margin: 0px;
    margin-top: 260px;
    margin-left: 95px;
}

.colorBlock4 {
    margin-top: 260px;
}

/* suggested users */

.suggestBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 0px;
    min-width: 300px;
    max-width: 300px;
    height: 290px;
    justify-content: space-evenly;
    background-color: var(--offWhite);
    border-radius: 15px 15px 0px 0px;
    padding-top: 30px;
    border: 1px solid var(--bordercolor);
    overflow: hidden; 
}

.mayKnow {
    position: absolute;
    color: white;
    z-index: 1;
    font-size: 20px;
    margin: 0px;
    margin-top: 5px;
    margin-left: 55px;
}

.colorBlock5 {
    margin-top: 960px;
}

.colorBlock5:hover {
    cursor: pointer;
}

.suggestFriend {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 115px;
    max-height: 115px;
    overflow: hidden;
    border-radius: 10px;
}

.suggestFriend1,
.suggestFriend2,
.suggestFriend3,
.suggestFriend4 {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 85%;
}

.suggestFriend1:hover,
.suggestFriend2:hover,
.suggestFriend3:hover,
.suggestFriend4:hover {
    cursor: pointer;
    opacity: 100%;
}

/* right feed bar */

.bioBox {
    height: 100%;
    width: 70vw;
    margin-left: 2%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.notifSearchBox {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    padding: 0px;
    line-height: 1.6;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 1135px;
    margin-left: 20px;
}

.notifEvent {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px var(--bordercolor);
    background-color: var(--offWhite);
    border: 1px solid var(--bordercolor);
    cursor: pointer;
}

.notifys {
    margin: 0px;
    margin-right: 10px;
    font-size: 18px;
}

.notifRow {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

/* notification popup modal  */

.commentModal,
.likeModal,
.newFriendModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--bordercolor);
    width: 500px;
    max-height: 370px;
    border-radius: 15px;
    z-index: 2;
    background-color: var(--offWhite);
    margin-top: 75px;
    margin-left: 20px;
    overflow: auto;
}

.profileCommentNotif,
.profileLikeNotif,
.profileFriendNotif {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--bordercolor);
    background-color: white;
    height: 70px;
    width: 95%;
    padding: 10px;
    cursor: pointer;
}

.friendSmallContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 70px;
    overflow: hidden;
    border-radius: 10px;
}

.friendSmall2 {
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
}

.commentNotifUser {
    margin: 5px;
    margin-left: 10px;
}

.currentTime, .currentTime2 {
    max-height: 30px;
    overflow: hidden;
    margin: 5px;
    font-size: 14px;
    margin-left: 10px;
}

.currentTime2 {
    margin: 0px;
    margin-left: 10px;
}

.friendOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.centeredIcon,
.centeredIcon2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centeredIcon2 {
    padding-right: 15%;
}

.commentBtn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}

.notifRow {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.contentContainer {
    width: 100%;
    overflow: hidden;
}

/* Recent Box */

.recentBox,
.friendBox {
    border-radius: 10px;
    line-height: 1.6;
    margin: 0px;
    margin-left: 20px;
    box-shadow: 4px 4px 10px var(--bordercolor);
    width: 1100px;
    min-width: 560px;
    background-color: var(--offWhite);
    border: 1px solid var(--bordercolor);
}

.recentBox {
    padding: 20px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.colorBlock2 {
    position: relative;
    height: 50px;
    margin-top: -15px;
    width: 1101px;
    min-width: 560px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--colorBlock);
    z-index: 1;
    box-shadow: 4px 4px 10px var(--bordercolor);
    margin-left: 20px;
}

.recentText {
    position: relative;
    font-size: 20px;
    color: white;
    z-index: 1;
    margin-bottom: 60px;
    margin-top: -40px;
    width: 70%;
    min-width: 560px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}

.textBar {
    margin: 0px;
}

.recentCard {
    max-height: 430px;
    max-width: 500px;
    margin: 0px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 20px 20px 5px 20px;
    z-index: 1;
    background-color: white;
    border-radius: 3px;
    border: 1px solid var(--bordercolor);
}

.recentCardBox {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 325px;
    max-width: 500px;
    overflow: hidden;
}

.recentMedia {
    max-height: 600px;
    max-width: 600px;
    margin-bottom: 0px;
}

.recentCaption {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    height: 45px;
    overflow-y: auto;
    border-radius: 5px;
    background-color: white;
}

.recentComReac {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 0px 0px 0px;
    cursor: pointer;
    margin-right: 10px;
}

.comments,
.likes {
    padding-right: 10px;
}

.comments2,
.likes2 {
    margin: 0px;
    margin-right: 10px;
    margin-left: 20px;
}

.likes {
    margin-left: 20px;
}

.comments:hover {
    cursor: pointer;
}

.recentManyDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-width: 555px;
    max-width: 555px;
    height: 445px;
    margin: -5px 0px 10px 0px;
    padding: 00px 0px 10px 0px;
}

.recentMany1,
.recentMany2,
.recentMany3,
.recentMany4 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 44%;
    height: 195px;
    padding: 0px;
    margin: 1.5% 1.5%;
    background-color: white;
    border: 1px solid var(--bordercolor);
    border-radius: 3px;
}

.smallMediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 170px;
    max-width: 245px;
    overflow: hidden;
}

.recentMediaSmall {
    max-height: 300px;
    max-width: 300px;
}

.recentCard:hover,
.recentMediaSmall:hover,
.viewMore,
.friendCard {
    cursor: pointer;
}

/* Friend Box */

.friendBox {
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding: 20px;
}

.friendHeader {
    margin: 0px;
}

.friendRow,
.friendHeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0px;
}

.friendHeaderRow {
    justify-content: space-between;
    z-index: 1;
    color: white;
    font-size: 20px;
    margin-top: -40px;
    width: 1100px;
    margin-left: 40px;
}

.viewMore {
    margin: 0px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: var(--colorBlock);
    border: none;
    font-family: 'Work Sans', sans-serif;
}

.friendCard {
    margin: 20px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 175px;
    max-height: 175px;
    min-width: 175px;
    max-width: 175px;
    overflow: hidden;
}

.friendSmall {
    border-radius: 10px;
    opacity: 70%;
    max-height: 315px;
    max-width: 315px;
}

.friendName,
.friendLocation {
    position: absolute;
    color: black;
    width: 115px;
    height: 25px;
    overflow: hidden;
    text-align: end;
    margin: 140px 0px 30px -30px;
    font-size: 12px;
}

.friendName {
    margin-bottom: 0px;
}

.friendSmall:hover {
    opacity: 90%;
}

.colorBlock3 {
    position: relative;
    height: 50px;
    margin-left: 20px;
    margin-top: -15px;
    width: 1141px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--colorBlock);
    z-index: 1;
    box-shadow: 4px 4px 10px var(--bordercolor);
}

/* modal box for gallery slider */

.modalBox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px;
    margin-top: 5vh;
    padding-top: 5vh;
    width: -moz-fit-content;
    width: fit-content;
    max-height: 85vh;
    border: 1px solid var(--bordercolor);
    border-radius: 15px;
    z-index: 3;
    background-color: var(--offWhite);
    overflow: auto;
}

.sliderMedia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 725px;
    margin-bottom: 30px;
    padding: 0px 2vw;
    padding: 0px 2vw;
    z-index: 3;
}

.blackOut {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 1300px;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 4;
}

.hidden {
    display: none;
}

.largePlayer,
.mediumPlayer,
.smallPlayer {
    margin-bottom: 40px;
}


@media screen and (max-width: 1900px) and (min-width: 1176px) {

    .bioBox {
        width: 55%;
    }

    .recentBox {
        flex-wrap: wrap;
        width: 70%;
        min-width: 560px;
    }

    .colorBlock2 {
        width: 70%;
    }

    .recentCard {
        margin-right: 0px;
    }

    .notifEvent {
        min-width: 200px;
    }

    .notifSearchBox {
        min-width: 600px;
        width: 80%;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .friendBox {
        width: 70%;
        height: 440px;
        overflow: hidden;
    }

    .colorBlock3 {
        width: 70%;
        margin-left: 20px;
        padding: 0px 21px;
        margin-top: -15px;
        min-width: 560px;
    }

    .friendHeaderRow {
        margin-top: -35px;
        width: 70%;
        margin-left: 25px;
        padding: 0px 13px;
        min-width: 560px;
    }

    .searchBar {
        min-width: 230px;
        max-width: 65%;
        margin-left: 20px;
    }

    .sliderMedia {
        width: 725px;
    }

}

@media screen and (max-width: 1175px) and (min-width: 775px) {

    .profilePicBox {
        width: 100%;
    }

    .bioBox {
        min-width: 500px;
    }

    .notifSearchBox {
        flex-wrap: wrap-reverse;
        min-width: 440px;
        max-width: 440px;
        margin-bottom: 20px;
        margin-top: 80px;
    }

    .notifEvent {
        margin-bottom: 10px;
        width: 435px;
    }

    .commentModal,
    .likeModal,
    .newFriendModal {
        width: 420px;
        margin-top: 125px;
        overflow: hidden;
    }

    .profileblock {
        width: 93vw;
        padding: 0px;
        margin-left: 20px;
        margin-right: 40px;
        height: 100%;
    }

    /* profile image  */

    .profileBox {
        min-width: 225px;
        max-width: 225px;
        margin-left: 30px;
        margin-right: 20px;
    }

    .profilePic {
        width: 200px;
        height: 200px;
        border-radius: 15px;
        margin: 10px;
        margin-top: 0px;
    }

    .contactName {
        margin-top: 197px;
        font-size: 14px;
    }

    .colorBlock1 {
        margin-top: 185px;
        width: 200px;
    }

    .profileImg {
        max-width: 375px;
        max-height: 200px;
    }

    /* profile info  */

    .bioColumn {
        margin: 5px;
        min-width: 200px;
        max-width: 200px;
        height: 220px;
        padding: 10px 0px;
        margin-top: 50px;
    }

    .bioWhite {
        width: 180px;
    }

    .contactHead,
    .contactLoc,
    .contactDate,
    .contactNow {
        font-size: 12px;
        margin-left: 15px;
    }

    .colorBlock4 {
        margin-top: 270px;
        width: 202px;
        margin-left: -1px;
    }

    .contactBio {
        margin-top: 265px;
        margin-left: 65px;
        font-size: 14px;
    }

    /* suggested friends box */

    .suggestBox {
        margin-top: 70px;
        min-width: 200px;
        max-width: 200px;
        height: 570px;
        overflow: hidden;
        padding-top: 20px;
    }

    .suggestFriend1 {
        height: 170px;
        width: 170px;
    }

    .colorBlock5 {
        margin-top: 1170px;
        width: 202px;
    }

    .mayKnow {
        font-size: 14px;
        margin-left: 35px;
    }

    /* recent events box  */

    .recentBox {
        min-width: 400px;
        max-width: 400px;
        flex-direction: column;
    }

    .recentCard {
        min-width: 360px;
        max-width: 360px;
        margin-left: 0px;
        height: 350px;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .smallMediaContainer {
        max-height: 170px;
        max-width: 176px;
    }

    .recentMedia {
        max-width: 360px;
    }

    .recentManyDiv {
        margin-left: 0px;
        min-width: 400px;
        max-width: 400px;
        height: 395px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .recentMany1,
    .recentMany2,
    .recentMany3,
    .recentMany4 {
        height: 155px;
    }

    .recentMediaSmall {
        max-height: 200px;
        max-width: 200px;
    }

    .recentComReac {
        margin-right: 5px;
    }

    .colorBlock2 {
        min-width: 401px;
        max-width: 401px;
        margin-left: 20px;
    }

    .recentText {
        min-width: 401px;
        max-width: 401px;
        margin-left: 20px;
    }

    /* friend box  */

    .bioBox {
        width: 50%;
    }

    .friendBox {
        min-width: 400px;
        max-width: 400px;
        padding: 0px 20px 0px 20px;
        height: 420px;
        overflow: hidden;
    }

    .friendRow {
        flex-wrap: wrap;
    }

    .friendCard {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 175px;
        max-height: 175px;
        min-width: 175px;
        max-width: 175px;
        margin: 20px 10px 0px 10px;
        overflow: hidden;
    }

    .friendHeaderRow {
        z-index: 1;
        min-width: 400px;
        max-width: 400px;
        margin-left: 40px;
    }

    .friendSmall {
        max-height: 315px;
        max-width: 315px;
    }

    .colorBlock3 {
        min-width: 441px;
        max-width: 441px;
        margin-left: 20px;
    }

    .sliderMedia {
        width: 525px;
    }

}

@media only screen and (max-width: 774px) {

    .bioBox {
        display: flex;
        justify-content: center;
    }

    .profileBox {
        margin-top: 160px;
        padding-bottom: 0px;
    }

    .profilePicBox {
        flex-direction: column;
        align-items: center;
    }

    .notifSearchBox {
        flex-wrap: wrap;
        min-width: 315px;
        max-width: 315px;
        margin-bottom: 730px;
        margin-top: -760px;
        margin-left: 10px;
    }

    .notifEvent {
        margin-bottom: 20px;
        width: 270px;
        padding-left: 30px;
    }

    .commentModal,
    .likeModal,
    .newFriendModal {
        width: 300px;
        margin-top: -2010px;
        margin-left: 0px;
        background-color: var(--offWhite);
    }

    .flexRow {
        width: 300px;
    }

    .centeredIcon {
        align-items: baseline;
    }

    .currentTime, .currentTime2 {
        width: 200px;
        font-size: 12px;
    }

    .profileblock {
        width: 93vw;
        padding: 0px;
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }

    .suggestBox {
        display: none;
    }

    .colorBlock5 {
        display: none;
    }

    /* recent events box  */

    .recentBox {
        min-width: 260px;
        max-width: 260px;
        flex-direction: column;
        margin-left: 0px;
        align-self: center;
    }

    .recentCard {
        min-width: 225px;
        max-width: 225px;
        margin-left: 0px;
        height: 190px;
        margin-bottom: 20px;
        margin-right: 0px;
        padding: 0px;
        align-self: center;
    }

    .recentCaption {
        display: none;
    }

    .smallMediaContainer, .smallMediaContainer2 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 225px;
        min-height: 150px;
        max-width: 225px;
        max-height: 150px;
        overflow: hidden;
    }

    .recentMedia, .recentMediaSmall {
        max-width: 275px;
        max-height: 275px;
    }

    .recentManyDiv {
        flex-direction: column;
        align-self: center;
        min-width: 225px;
        max-width: 225px;
        height: 410px;
    }

    .recentMany1,
    .recentMany2 {
        width: 100%;
        margin: 0px;
    }

    .recentMany3,
    .recentMany4 {
        display: none;
    }

    .recentComReac {
        margin-right: 5px;
    }

    .colorBlock2 {
        min-width: 271px;
        max-width: 271px;
        margin-left: 0px;
    }

    .recentText {
        min-width: 271px;
        max-width: 271px;
        margin-left: 60px;
    }

    /* friend box  */

    .bioBox {
        min-width: 315px;
        max-width: 315px;
        margin-left: 0px;
    }

    .friendBox {
        display: none;
    }

    .colorBlock3 {
        display: none;
    }

    .friendHeaderRow {
        display: none;
    }

    .sliderMedia {
        width: 525px;
    }

    .sliderMedia {
        width: 525px;
    }

    .contentContainer {
        width: 95%;
    }

    .friendOptions{
        width: 20px;
    }

    .profileCommentNotif,
    .profileLikeNotif,
    .profileFriendNotif {
        width: 90%;
    }

}

@media only screen and (max-width: 599px) {

    .sliderMedia {
        width: 340px;
    }

    .leaveComment {
        font-size: 12px;
    }

}