:root {
    --bordercolor: rgb(218, 218, 218);
    --backgroundFill: rgb(239, 241, 250);
    --colorBlock: #70abc7;
    --offWhite: rgb(248, 248, 248);
}

html {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bordercolor);
}

body {
    margin: 0px;
}

.mainTimelineBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

/* profile header and navbar*/

.navBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: var(--colorBlock);
}

.timelineblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0vh 1vw;
    width: -moz-fit-content;
    width: fit-content;
    background-color: white;
}

/* timeline content */

.newEventField {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.newEventBtn, .toTopBtn {
    margin-bottom: 20px;
    color: var(--colorBlock);
    cursor: pointer;
}

.toTopBtn {
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 3;
}

.editIcon3 {
    color: black;
}

.timeLineEvent, .timeLineEvent2 {
    width: 40vw;
    height: 200px;
    border: 1px solid var(--bordercolor);
    padding: 1vw;
    background-color: var(--offWhite);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    color: rgb(36, 36, 36);
}

.timeLineEvent2 {
    flex-direction: row-reverse;
    align-self: flex-end;
}

.noMargin {
    margin: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.timelineInfo {
    margin: 0px 1vw;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
}

.timelineDate {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

.timelineTitle {
    margin: 10px;
    font-family: 'Work Sans', sans-serif;
}

.timelineTitle2 {
    margin-left: 1vw;
    font-family: 'Work Sans', sans-serif;
}

.timelineDesc {
    overflow-y: auto;
    height: 40%;
    padding: 10px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.timelineNotif {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 10px;
    align-self: flex-end;
}

/* popup modal css properties */

.hidden, .hidden2 {
    display: none;
}

.hover {
    cursor: pointer;
}

.blackOut2 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 3;
}

.centerModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventNotifBar {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px; 
    margin-top: 20px;
}

/* comment box  */

.leaveComment, .postBtn {
    border: 1px solid var(--bordercolor);
    background-color: var(--colorBlock);
    border-radius: 15px;
    height: 30px;
    color: white;
    padding: 5px;
    width: 150px;
    cursor: pointer;
}

.commentInput {
    width: 99%;
    height: 80px;
    font-size: 16px;
    border: 1px solid var(--bordercolor);
    border-radius: 5px;
    margin-top: 20px;
    resize: none;
}

.flexend {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.postBtn {
    width: 80px;
    align-self: flex-end;
    margin-top: 10px;
}

.commentSection {
    border: 1px solid var(--bordercolor);
    width: 700px;
    margin-top: 2vh;
    border-radius: 10px;
    background-color: white;
    border-radius: 10px;
}

.commentSingle {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.friendCommentIcon {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    border-radius: 5px;
}

.friendCommentBox {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.friendCommentName {
    margin: 10px;
}

.friendCommentText {
    width: 95%;
    overflow: auto;
    padding: 10px;
    margin: 0px;
}

.flexRow, .flexRow2 {
    display: flex;
    flex-direction: row;
}

.flexRow2 {
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.likes2 {
    font-size: 18px;
}

/* overiding timeline properties  */

.css-ghevlx-MuiTypography-root-MuiTimelineContent-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.css-l4x062-MuiTypography-root-MuiTimelineOppositeContent-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.css-1ami7lv-MuiTimelineConnector-root {
    min-height: 20px;
}
