:root {
    --bordercolor: rgb(218, 218, 218);
    --backgroundFill: rgb(239, 241, 250);
    --colorBlock: #70abc7;
    --offWhite: rgb(248, 248, 248);
}

html {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bordercolor);
}

body {
    margin: 0px;
}

.mainEditBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.editBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0vh 1vw;
    width: -moz-fit-content;
    width: fit-content;
    height: 1000px;
    background-color: white;
}

.editForm {
    border: 1px solid var(--bordercolor);
    background-color: var(--offWhite);
    min-width: 500px;
    max-width: 900px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8vh;
    padding: 3vh 0px;
    border-radius: 15px;
}

.formLabel {
    align-self: baseline;
    margin-left: 9%;
}

.inputField {
    width: 80%;
    border: 1px solid var(--bordercolor);
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
}

.imgUpload {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 76%;
    border: 1px solid var(--bordercolor);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.uploadedPhotoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.uploadedPhoto {
    max-width: 450px;
    max-height: 450px;
}

input[type=file] {
    display: flex;
    flex-direction: column;
    width: 140px;
    overflow: hidden;
    color: white;
    margin-top: 20px;
}

input[type=file]::file-selector-button {
    width: 130px;
    height: 35px;
    background-color: var(--colorBlock);
    border: 1px solid var(--bordercolor);
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
}

.errorBlock2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.error-text {
    margin: 0px;
}

.submitChanges {
    border: 1px solid var(--bordercolor);
    background-color: var(--colorBlock);
    color: white;
    height: 35px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    align-self: flex-end;
    margin-right: 9%;
}

@media only screen and (max-width: 599px) {

    .editForm {
        border: 1px solid var(--bordercolor);
        background-color: var(--offWhite);
        min-width: 350px;
        max-width: 900px;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 8vh;
        padding: 3vh 0px;
        border-radius: 15px;
    }

}