:root {
    --bordercolor: rgb(218, 218, 218);
    --backgroundFill: rgb(239, 241, 250);
    --colorBlock: #70abc7;
    --offWhite: rgb(248, 248, 248);
}

.flexRow3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.editBlock2 {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.modalBox3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85vw;
    max-width: 700px;
    height: 510px;
    padding: 0px 2vw;
    border: 1px solid var(--bordercolor);
    border-radius: 15px;
    background-color: var(--offWhite);
    margin: 0px;
}

.timelineDesc2 {
    overflow-y: auto;
    height: 52%;
    padding: 10px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.timeLineEvent3 {
    width: 85vw;
    max-width: 700px;
    padding: 2vw;
    margin-top: 20px;
    height: 200px;
    border: 1px solid var(--bordercolor);
    background-color: var(--offWhite);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    color: rgb(36, 36, 36);
    margin-bottom: 4vh;
}

.editEventForm {
    border: 1px solid var(--bordercolor);
    width: 85vw;
    max-width: 700px;
    border-radius: 15px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    background-color: var(--offWhite);
    margin-bottom: 20px;
    padding-bottom: 1vw;
    margin-top: 30px;
}

.editHeader {
    margin: 0px;
}

.editPhoto, .editThumbnail, .updateEventButton, .deleteEventButton {
    width: 200px;
    border: 1px solid var(--bordercolor);
    background-color: purple;
    color: white;
    height: 35px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.updateEventButton {
    background-color: var(--colorBlock);
    margin-top: 10px;
}

.deleteEventButton {
    background-color: rgb(175, 4, 4);
    margin-top: 10px;
}

.saveAndDelete {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.editEventTitle, .editEventDesc, .editEventDate, input[type="date" i] {
    height: 30px;
    resize: none;
    font-size: 16px;
    border: 1px solid var(--bordercolor);
    font-family: 'Work Sans', sans-serif;
}

.editEventDesc {
    height: 60px;
}

.mediumPlayer {
    display: none;
}

.smallPlayer {
    display: none;
}

@media screen and (max-width: 1175px) and (min-width: 775px) {

    .largePlayer {
        display: none;
    }

    .mediumPlayer {
        display: block;
    }
    
    .smallPlayer {
        display: none;
    }

}

@media screen and (max-width: 800px) and (min-width: 600px) {

    .largePlayer {
        display: none;
    }

    .mediumPlayer {
        display: block;
    }
    
    .smallPlayer {
        display: none;
    }

    .modalBox2 {
        height: 425px;
    }

}

@media only screen and (max-width: 599px) {
    
    .largePlayer {
        display: none;
    }

    .mediumPlayer {
        display: none;
    }
    
    .smallPlayer {
        display: block;
    }

    .modalBox2 {
        height: 230px;
        width: 83vw;
    }

    .modalBox3 {
        height: 250px;
    }

    .timeLineEvent3 {
        flex-direction: column;
        align-items: center;
        height: 450px;
    }

    .flexRow2 {
        justify-content: center;
        margin-top: 10px;
    }

    .timelineDesc2 {
        height: 43%;
    }

}