:root {
    --bordercolor: rgb(218, 218, 218);
    --backgroundFill: rgb(239, 241, 250);
    --colorBlock: #70abc7;
    --offWhite: rgb(248, 248, 248);
}

html {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bordercolor);
}

body {
    margin: 0px;
}

.mainFriendBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

/* profile header and navbar*/

.navBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: var(--colorBlock);
}

.friendHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin-top: 15px;
    width: 88%;
    height: 100px;
    margin-bottom: 6vh;
    align-items: center;
    z-index: 1;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LifeLine {
    margin: 0px;
    margin-left: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
}

.go2Profile, .go2Friends, .go2TimeLine, .logout {
    background-color: var(--colorBlock);
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Work Sans', sans-serif;
}

.go2Profile:hover, .go2Friends:hover, .go2TimeLine:hover, .logout:hover {
    cursor: pointer;
}

.searchButton:hover {
    cursor: pointer;
}

/* Friend Nav*/

.friendNav {
    width: 86%;
    height: 35px;
    display: flex;
}

.friendTab, .userTab, .blockTab {
    width: 150px;
    height: 36px;
    background-color: var(--offWhite);
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--bordercolor);
    border-bottom: none;
    margin-top: 0px;
    z-index: 2;
    position: relative;
    margin-right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userTab {
    border: 1px solid rgb(155, 155, 155);
    border-bottom: 1px solid var(--bordercolor);
    z-index: 1;
    height: 35px;
    background-color: var(--colorBlock);
    color: white;
}

.blockTab {
    border: 1px solid rgb(155, 155, 155);
    border-bottom: 1px solid var(--bordercolor);
    background-color: rgb(184, 19, 19);
    z-index: 0;
    height: 35px;
    color: white;
}

.tabWords:hover, .tabWordsBlocked2:hover, .tabWordsUsers2:hover, .userTab:hover{
    cursor: pointer;
}

.tabWordsUsers2, .tabWordsBlocked2 {
    font-weight: bold;
    background-color: var(--offWhite);
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

.tabWordsUsers2 {
    background-color: var(--colorBlock);
    color: white;
}

.tabWordsBlocked2 {
    background-color: rgb(184, 19, 19);
    color: white;
}

/* search bar */

.friendSearchBox {
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    top: 135px;
    right: 7%;
}

/* html body */

.friendblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0vh 1vw;
    width: -moz-fit-content;
    width: fit-content;
    background-color: white;
    overflow: hidden;
}

.allFriends {
    border: 1px solid var(--bordercolor);
    width: 87%;
    padding: 2vw 2vw 0vw 1vw;
    background-color: var(--offWhite);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.friendCard2 {
    margin: 0px;
    border: 1px solid var(--bordercolor);
    width: -moz-fit-content;
    width: fit-content;
    padding: 1vw;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
    margin-bottom: 2vw;
    padding-bottom: 1vw;
}

.friendPhoto {
    max-width: 300px;
    min-width: 250px;
    width: 15vw;
    border-radius: 5px;
}

.friendBio {
    margin-top: 10px;
    min-width: 90%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friendBioName {
    width: 75%;
    height: 100%;
    overflow: hidden;
}

.smallerP {
   margin: 5px;
   font-size: 16px; 
}

.blockUser{
    position: relative;
    background-color: white;
    border-radius: 50%;
    align-self: flex-end;
    margin-top: -.7vh;
    cursor: pointer;
    color: rgb(163, 1, 1);
    margin-right: -.5vw;
}

.deleteFriend {
    min-width: 20%;
    background-color: white;
    border: none;
    text-align: left;
    cursor: pointer;
}