:root {
    --bordercolor: rgb(218, 218, 218);
    --backgroundFill: rgb(239, 241, 250);
    --colorBlock: #70abc7;
    --offWhite: rgb(248, 248, 248);
}

html {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bordercolor);
}

body {
    margin: 0px;
}

.mainFriendBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

/* profile header and navbar*/

.navBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: var(--colorBlock);
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LifeLine {
    margin: 0px;
    margin-left: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
}

.go2Profile, .go2Friends, .go2TimeLine, .logout {
    background-color: var(--colorBlock);
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Work Sans', sans-serif;
}

.go2Profile:hover, .go2Friends:hover, .go2TimeLine:hover, .logout:hover {
    cursor: pointer;
}

.searchButton:hover {
    cursor: pointer;
}

/* Friend Nav*/

.friendNav {
    width: 86%;
    height: 35px;
    display: flex;
    margin-top: 80px;
}

.friendTab3, .userTab3, .blockTab3 {
    width: 150px;
    height: 36px;
    background-color: var(--offWhite);
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--bordercolor);
    border-bottom: none;
    margin-top: 0px;
    z-index: 1;
    position: relative;
    margin-right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userTab3 {
    border: 1px solid rgb(155, 155, 155);
    border-bottom: none;
    z-index: 0;
    height: 35px;
    background-color: var(--colorBlock);
    color: white;
}

.blockTab3 {
    border: 1px solid rgb(155, 155, 155);
    border-bottom: 1px solid var(--bordercolor);
    background-color: rgb(184, 19, 19);
    z-index: 0;
    height: 35px;
    color: white;
}

.tabWords3:hover, .tabWordsBlocked3:hover, .tabWordsUsers3:hover, .userTab:hover{
    cursor: pointer;
}

.tabWordsUsers3, .tabWords3, .tabWordsBlocked3 {
    font-weight: bold;
    background-color: var(--offWhite);
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

.tabWordsUsers3 {
    background-color: var(--colorBlock);
    color: white;
}

.tabWordsBlocked3 {
    background-color: rgb(184, 19, 19);
    color: white;
    z-index: 2;
}

.friendTab3 {
    border-bottom: 1px solid var(--bordercolor);
    height: 34px;
}

/* search bar */

.friendSearchBox2 {
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    top: 135px;
    right: 7%;
    margin-bottom: 20px;
}

.searchButton2 {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid var(--bordercolor);
    background-color: white;
}

.searchBar2 {
    height: 20px;
    width: 380px;
    border-radius: 15px;
    background-color: var(--backgroundFill);
    border: 1px solid var(--bordercolor);
    padding: 5px 20px;
}


/* html body */

.friendblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0vh 1vw;
    width: -moz-fit-content;
    width: fit-content;
    background-color: white;
    overflow: hidden;
}

.allIgnored {
    border: 1px solid var(--bordercolor);
    width: 87%;
    padding: 2vw 2vw 0vw 1vw;
    background-color: rgb(255, 242, 242);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.ignoredCard {
    margin: 0px;
    border: 1px solid var(--bordercolor);
    width: -moz-fit-content;
    width: fit-content;
    padding: 1vw;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
    margin-bottom: 2vw;
    padding-bottom: 1vw;
}

.ignoredPhoto {
    max-width: 300px;
    min-width: 200px;
    width: 15vw;
    border-radius: 5px;
}

.ignoredBio {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ignoredBioName {
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.smallerP {
   margin: 5px;
   font-size: 16px; 
}

.deleteFriend {
    width: 40px;
    height: 40px;
}



@media screen and (max-width: 850px) and (min-width: 600px) {

.friendSearchBox2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 87%;
    margin-bottom: 20px;
}

}


@media only screen and (max-width: 599px) {

.addSomeFriends {
    font-size: 14px;
    margin-top: 10px;
}

.friendblock {
    width: 350px;
}

.friendSearchBox2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.searchBar2 {
    width: 250px;
}

.friendNav {
    width: 85%;
}

.friendTab3, .userTab3, .blockTab3 {
    width: 100px;
}

.tabWordsUsers3, .tabWords3, .tabWordsBlocked3 {
    font-size: 12px;
}

}