:root {
    --bordercolor: rgb(197, 197, 197);
}

html {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: white;
}

.homeBlock {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.mainblock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 90vw;
    background-color: white;
}

/* Form CSS */

.homepageIcon {
    display: flex;
    justify-content: center;
}

.lifeLineIcon {
    min-width: 400px;
    max-width: 80%;
}

.loginForm2 {
    position: relative;
    min-width: 450px;
    min-height: 525px;
    max-width: 450px;
    max-height: 525px;
    border: 1px solid var(--bordercolor);
    display: block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px var(--bordercolor);
    border-radius: 3px;
}

.webName {
    margin-bottom: 5%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 50px;
}

.emailLogin, .passwordLogin {
    height: 30px;
    width: 70%;
    border: 2px solid var(--bordercolor);
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 6%;
}

.errorBlock {
    display: block;
    margin-top: -13px;
    height: 45px;
    color: grey;
}

.loginButton, .createButton {
    width: 75%;
    height: 30px;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: #2ba5f7;
}

.createButton {
    background-color: rgb(92, 189, 92);
}

.loginButton:hover, .createButton:hover {
    cursor: pointer;
}

.loginDivider {
    width: 80%;
    margin: 40px;
}

.orDiv {
    display: flex;
    justify-content: center;
}

.dividerOr {
    position: relative;
    margin-top: -55px;
    background-color: white;
    width: -moz-fit-content;
    width: fit-content;
    padding: 3px 10px;
    color: rgb(114, 114, 114);
}


/* footer  */

.footer {
    position: relative;
    align-self: baseline;
    background-color: var(--bordercolor);
    height: 70px;
    text-align: right;
  }

  .footerNav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 20px;
  }
  
  .footLinks {
    margin: .5% 3% .5% 0%;
    font-size: 16px;
  }
  
  .footLinks:hover {
    cursor: pointer;
  }
  
  .copyright {
    margin-top: 5px;
    font-size: 14px;
    margin-right: 3%;
    padding-right: 20px;
  }

  @media screen and (max-width: 850px) 
  and (min-width: 600px) 
  {

    .mainblock {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10vh 0px;
        width: 100vw;
    }

    .lifeLineIcon {
        align-self: center;
        max-width: 200px;
        margin-bottom: 50px;
    }

    .homepageIcon {
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 599px) {

    .mainblock {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5vh 0px;
        width: 100vw;
    }

    .lifeLineIcon {
        align-self: center;
        max-width: 250px;
        min-width: 250px;
        margin-bottom: 20px;
    }

    .loginForm2 {
        min-width: 250px;
        min-height: 440px;
        max-width: 300px;
        max-height: 440px;
    }

    .webName {
        font-size: 30px;
    }

    .orDiv {
        display: flex;
        justify-content: center;
    }

    .dividerOr {
        position: relative;
        margin-top: -55px;
        background-color: white;
        width: -moz-fit-content;
        width: fit-content;
        padding: 3px 10px;
        color: rgb(114, 114, 114);
    }

}