:root {
    --bordercolor: rgb(197, 197, 197);
}

html {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

.homeBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 13vh;
    padding: 0% 15% 0% 5%;
}

/* Form CSS */

.lifeLineIcon {
    min-width: 400px;
    max-width: 80%;
}

.loginForm {
    position: relative;
    min-width: 400px;
    min-height: 450px;
    max-width: 400px;
    max-height: 450px;
    border: 1px solid var(--bordercolor);
    display: block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px var(--bordercolor);
    border-radius: 3px;
}

.webName {
    margin-bottom: 5%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 50px;
}

.emailLogin, .passwordLogin {
    height: 30px;
    width: 70%;
    border: 2px solid var(--bordercolor);
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 6%;
}

.errorBlock {
    display: block;
    margin-top: -13px;
    height: 45px;
    color: grey;
}

.loginButton, .createButton {
    width: 75%;
    height: 30px;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: #2ba5f7;
}

.createButton {
    background-color: rgb(92, 189, 92);
}

.loginButton:hover, .createButton:hover {
    cursor: pointer;
}

.loginDivider {
    width: 80%;
    margin: 40px;
}

.dividerOr {
    position: absolute;
    top: 305px;
    left: 175px;
    background-color: white;
    padding: 3px 10px;
    color: rgb(114, 114, 114);
}

